-gallery_images = ["fooda.jpg","foodb.jpg","foodc.jpg","foodd.jpg","foode.jpg","foodc.jpg","foodc.jpg"]
!!!5
%html{class:"no-js", lang:"es"} 
    %head
        %meta{charset:"utf-8"}
        %title Catalogo 
        %meta{name:"description", content:"Los mejores productos al mejor precio"}
        %link{href:"https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap", rel:"stylesheet"}
        %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css2?family=Acme&display=swap"}
        
        %link{rel:"stylesheet", href:"css/normalize.css"}
        %link{rel:"stylesheet", href:"css/bootstrap.css"}
        //%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"} 
        %link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}  
        %link{rel:"stylesheet", href:"css/style.css"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
        %meta{:"data-name"=>"image-counter", content:"#{gallery_images.size - 1}"}
        %script{src:"js/vendor/modernizr-3.10.0.min.js"}
    %body
        ="<!--[if lt IE 9]>"
        %p{class:"browseupgrade"}
            Estas usando un navegador 
            %strong desactualizado. 
            Por favor 
            %a{href:"https://browsehappy.com"}
            actualiza tu navegador para una mejor experiencia
        ="<![endif]-->"
        .video-container
            %video{autoplay:true, loop:true,muted:true, width:"1280",height:"720", poster:"/images/pizza.jpg" }
                %source{src:"videos/mp4/pizza.mp4", typ:"video/mp4,"}
                %source{src:"videos/webm/portada.webm", typ:"video/webm"}
        .row.full-height.middle-xs.center-xs.relative.up#home
            .col-xs-12
                .box.white-text
                    %img{src:"/images/logo.png", width:"160"}
                    %h1.lato-script.title.no-margin Catalogo Online
                    %p#is-open.acme-script.titulo-2 
                        %i.glyphicon.glyphicon-time
                        Abierto ahora
            %nav.fixed.top.right.navigation.white-text#navigation
                -menu=["Inicio","Menu","Galeria","Contacto","Como llegar"]
                %ul.list-inline
                    -menu.each do |item|
                        %li
                            %a{}= item
            .absolute.black.large-padding.white-text.full-width#description
                .row.middle-xs.center-xs  
                    .col-xs-7.col-sm-6.white-text.medium
                        Atencion al publico
                    .col-xs.hidden#sticky-navigation
                        .box
                            .nav.text-right.navigation#responsive-nav
                                %i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener
                                %ul.list-inline
                                    -menu.each do |item|
                                        %li
                                            %a{}= item
        .text-center.relative#menu
            .absolute.white#menu-title
                %h2.lato-script.title 
                    Menú
                    //Trarer las fotos del menu
            -menu_photos = [{name:"comida1", pricing:"15.00", image:"food1"},
                            {name:"comida2", pricing:"15.00", image:"food2"},
                            {name:"comida3", pricing:"15.00", image:"food3"},
                            {name:"comida4", pricing:"15.00", image:"food1"},
                            {name:"comida5", pricing:"15.00", image:"food2"},
                            {name:"comida6", pricing:"15.00", image:"food3"},
                            {name:"comida7", pricing:"15.00", image:"food1"},
                            {name:"comida8", pricing:"15.00", image:"food2"},]
            .row
                -menu_photos.each do |photo|
                    .col-md-3.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(/images/food/#{photo[:image]}.jpg)"}
                        .screen 
                            .row.middle-xs.full-height
                                .col-xs-12.white-text
                                    .h3.lato-script.subtitle=photo[:name]
                                    
                                    %p.no-margin="S/. "+photo[:pricing]
        #gallery
            .inner
                -gallery_images.each do |image|
                    .image{style:"background-image:url(/images/food/#{image})"}
            //Con Css -- %div{style:"width:80%;height:200px;background-color:red;margin:0 auto;"}
            //Con Bostrap
        .container
            .card.white.black-text.text-center.relative
                %h3.medium.slim
                    En 
                    %strong.lato-script.medium Nombre del restaurante
                    encuentras los 
                    %strong.lato-script.medium 
                        mejores
                    %p.top-space
                        Mensaje de restaurant ... Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, quod unde natus, ut reiciendis quasi quis,
                        quibusdam dolore recusandae nam aut fugiat at impedit! Laborum, dignissimos totam? Debitis, quo animi!
                        %strong.lato-script.medium Nombre del chef
        
        .black.white-text.full-height#contact
            .row.middle-xs.full-height
                .col-xs-12
                    .box
                        %form{action:"https://formspree.io/fernando.ancajima99@gmail.com",method:"POST",id:"contact-form",class:"step-form"}
                            .row.center-xs
                                .col-xs-2.col-md-1.text-center
                                    .box
                                        -3.times do |i|
                                            -if i==0
                                                .path-step.active
                                            -else
                                                .path-step
                                            %br
                                        
                                .col-xs-5.col-sm-3.first-xs
                                    .box.MyContact   
                                        %input{type:"email",name:"email",placeholder:" Escribe tu correo electronico"}
                                        %input{type:"texto",name:"name",placeholder:" Escribe tu nombre"}
                                        %textarea{name:"body",placeholder:" Escribenos tu mensaje"}
                                        %div
                                            %button{type:"submit",class:"btn btn-warning"}
                                                Enviar Mensaje

        #location
            #map
                %div{:style => "width: 100%"}
                    %iframe{:frameborder => "0", :height => "600", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?width=100%&height=600&hl=es&q=Lima-Peru+(Catalogo)&ie=UTF8&t=&z=15&iwloc=B&output=embed", :width => "100%"}
                        %a{:href => "https://www.mapsdirections.info/marcar-radio-circulo-mapa/"}
                        Radio del mapa
                #message.black.large-padding.white-text.text-center.medium
                    //mensaje de google --min para llegar
        //Anhadir el query
        %script{src:"https://code.jquery.com/jquery-3.5.0.min.js",
                integrity:"sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=",
                crossorigin:"anonymous"}
        %script 
            window.jQuery || document.write("<script src='/js/vendor/jquery-3.5.0.min.js'<\/script>")            
        //%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyCtn-4SUq2Q0FUhZQ-r-xvBAhEEjGHpS5o"}
        //%script{src:"/dist/maps.js"} 
        %script{src:"/dist/main.js"} 
               